*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'KyivType Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/KyivType-Sans-Medium-.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #F5F5F5;
  background-color: #222021;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  font-family: 'KyivType Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 132.9%;
  text-transform: uppercase;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  min-height: 1080px;
  margin-bottom: 260px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.header__menu {
  margin-left: auto;
}

.header__menu-list {
  display: flex;
}

.header__menu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__menu-item + .header__menu-item {
  margin-left: 57px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  background-color: #1E0C06;
  border-radius: 43px 0px 0px 43px;
  filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
  position: absolute;
  right: 0;
  max-width: 1245px;
  margin-top: 85px;
}

.header__content--text {
  margin: 43px 30px 57px 50px;
  border-right: 1px solid #F5F5F5;
  top: 50%;
}

.header__title {
  line-height: 115.4%;
  margin-bottom: 22px;
  max-width: 622px;
  margin-top: 32px;
}

.header__text {
  line-height: 39px;
  max-width: 333px;
  color: #FFDBBB;
  margin-bottom: 58px;
}

.header__text span {
  font-weight: 700;
}

.header__btn {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding: 11px 70px;
  background-color: #728BAD;  
  border-radius: 42px;
  border: none;
  margin-bottom: 45px;
  cursor: pointer;
  color: #F5F5F5;
}

.header__content--images {
  margin: 43px 115px 17px 15px;
  max-width: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.header__img {
  width: 205px;
  height: 205px;
  border-radius: 42px;
}

.header__img-1 {
  grid-column: 2/3;
}

.header__img-2 {
  grid-column: 1/2;
  grid-row: 3/4;
  position: relative;
  top: -136px;
}

.header__img-3 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.header__background-img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 11px 42px 42px 11px;
  position: absolute;
  top: 3px;
  z-index: -1;
}

.woodtypes {
  margin-bottom: 250px;
}

.woodtypes__title {
  padding-bottom: 125px;
  max-width: 745px;
  margin-left: 100px;
}

.products {
  display: flex;
  justify-content: space-between;
  gap: 174px;
}

.products__item--img {
  border-radius: 42px;
  margin-bottom: 33px;
}

.products__item--title {
  font-weight: 700;
  line-height: 36px;
  padding-left: 75px;
  margin-bottom: 44px;
}

.products__item {
  font-weight: 500;
  line-height: 36px;  
  margin-bottom: 28px;
}

.products__item svg {
  margin-right: 10px;
}

.ourwork {
  margin-bottom: 250px;
}

.ourwork__title {
  margin-left: 100px;
  margin-bottom: 120px;
}

.ourwork-slider__item {
  border-radius: 45px;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  padding: 0;
  border: 4px solid #728BAD;
  background-color: transparent;
  margin: 0 9px;
}

.slick-dots .slick-active button {
  background-color: #D5DCEE;
}

.slick-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  top: -100px;
}

.slick-prev {
  margin-right: 24px;
  left: -85px;
  bottom: -60px;
}

.slick-next {
  margin-left: 24px;
  bottom: -60px;
  right: -85px;
}

.advantages {
  margin-bottom: 300px;
}

.advantages__content {
  display: grid;
  grid-template-columns: 609px 453px;
  gap: 122px;
  margin-bottom: 121px;
}

.advantages__video {
  background-image: url(../images/advantages-video.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__title {
  padding-left: 137px;
  margin-bottom: 120px;
}

.advantages__descr-text {
  margin-bottom: 48px;
}

.advantages__btn {
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  color: #F5F5F5;
  padding: 11px 70px;
  background-color: #728BAD;
  border-radius: 42px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 11px;
}

.about {
  margin-bottom: 190px;
  max-width: 1325px;
  background-color: #1E0C06;
  border-radius: 0px 42px 42px 0px;
  filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
}

.about__box {
  display: grid;
  grid-template-columns: 517px 430px;
  gap: 62px;
  padding: 44px 70px 31px 243px;
}

.aboutus__title {
  margin-bottom: 67px;
}

.about__descr {
  max-width: 516px;
}

.aboutus__text {
  font-weight: 500;
  line-height: 139.4%;
  margin-bottom: 219px;
}

.aboutus__text span {
  font-weight: 700;
}

.about__images-img {
  border-radius: 51px;
}

.about__images {
  position: relative;
}

.about__images-img1 {
  margin-top: 123px;
  margin-bottom: 25px;
  border-radius: 65px;
  border-top: 10px solid #1E0C06;
  border-right: 13px solid #1E0C06;
}

.about__images-img2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.about__images-img3 {
  position: absolute;
  bottom: 0;
  right: 32px;
}

/* .questions {
  margin-bottom: 100px;
} */

.questions__title {
  margin-bottom: 43px;
  text-align: right;
}

.form__name,
.form__phone,
.form__textarea {
  width: 100%;
  background-color: transparent;
  font-family: 'Inter';
  font-size: 30px;
  font-weight: 500;
  line-height: 139.4%;
  border: 4px solid #728BAD;
  border-radius: 42px;
  padding: 17px 47px;
  margin-bottom: 23px;
}

.form__name::placeholder,
.form__phone::placeholder,
.form__textarea::placeholder {
  color: #D9D9D982;
}

.questions {
  margin-bottom: 100px;
}

.questions__btn {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #F5F5F5;
  padding: 11px 70px;
  background-color: #728BAD;
  border-radius: 42px;
  border: none;
  cursor: pointer;
  margin-top: 17px;
}

.questions__text {
  text-align: right;
  font-weight: 500;
  padding: 0 15px;
  line-height: 139.4%;
  margin-bottom: 191px;
}

.questions__inner {
  display: grid;
  grid-template-columns: 600px 550px;
  gap: 64px;
}

.questions__img {
  width: 477px;
  height: 482px;
  transform: rotate(-27.13deg);
  position: absolute;
  right: 130px;
}

.footer {
  background-color: #222021;
  border-top: 1px solid #222021;
  box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.17);
  height: 300px;
  position: relative;
}

.footer__inner {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.footer__logo-text {
  font-size: 20px;
  line-height: 139.4%;
  margin-top: 58px;
}

.footer__num {
  display: flex;
  align-items: center;
}

.footer__address {
  max-width: 377px;
}

.footer__address-text {
  line-height: 139.4%;
  display: flex;
  align-items: center;
}

.footer__phone-img,
.footer__address-img {
  margin-right: 14px;
}
